body {
    font-family: 'Poppins', sans-serif;
    transition: .5s all ease;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

// Colors
$bg-color: rgb(255, 255, 255);
$dot-color: rgba(0, 0, 0, 0.466);
.navbar {
    .container {
        .logo {
            border-radius: 10px;
            max-width: 86px;
        }
        .toggle {
            @include media-breakpoint-down(lg) {
                background-color: whitesmoke;
                border-radius: 10px;
            }
            .nav-item {
                position: relative;
                .nav-link {
                    font-weight: map-get($fonts_weights, light);
                    color: $black_color;
                    font-size: 17px;
                    letter-spacing: -0.02em;
                    text-transform: capitalize;
                }
            }
            .nav-link-active::before {
                content: "";
                color: black;
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 5%;
                background-color: black;
            }
            .btn-login {
                font-weight: map-get($fonts_weights, semiBold);
                font-size: 20px;
                color: white;
                padding: 3px 29px;
                background-color: #58311C;
                border: none;
            }
        }
        .btn-login {
            font-weight: map-get($fonts_weights, semiBold);
            font-size: 20px;
            color: white;
            padding: 3px 29px;
            background-color: #58311C;
            border: none;
        }
    }
}

.home {
    margin-top: 160px;
    @include media-breakpoint-down(lg){
    margin-top: 100px;
    }
    @include media-breakpoint-down(md){
    margin-top: 60px;
    }
    .home-wrapper {
        .head {
            h1 {
                font-weight: map-get($fonts_weights, bold);
                letter-spacing: -0.09em;
                font-size: 54px;

                @include media-breakpoint-down(lg){
                    font-size: 50px;
                    text-align: center;
                }
                @include media-breakpoint-down(md){
                    font-size: 40px;
                }
                span {
                    color: #E6A06A;
                }
            }
            .btn-wrapper {
                .btn {
                    color: white;
                    background-color: #58311C;
                    border: none;
                    font-size: 20px;
                    letter-spacing: -0.09em;
                }
            }
            .payment-img {
                margin-top: 30px;
            }
        }
    }
}

.howitworks{
    margin-top: 20px;
    background: url('../../img/Hit-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 20;
    // .howitworks-wrapper{
    //     // background-position-x: right;
    //     // background-position-y: top;
    // }
    .container{
        .row{
            .content{
                @include media-breakpoint-down(lg){
                    margin-top: 20px;
                    margin-bottom: 0px;
                }
                margin-top: 260px;
                margin-bottom: 320px;

                .head{
                    .btn{
                        letter-spacing: -0.06em;
                        background-color: white;
                        font-weight: map-get($fonts_weights, medium);
                        font-size: 26px;
                        border: none;
                    }
                    .desc{
                        font-weight: map-get($fonts_weights, semiBold);
                        font-size: 43px;
                        letter-spacing: -0.06em;
                        color: white;
                    }
                }
                .box{
                    background-color: white;
                    padding: 55px 25px;
                    border-radius: 22px;
        
                    .logo-wrapper{
                        @include media-breakpoint-down(md){
                            padding: 20px;
                        }
                        @include media-breakpoint-down(sm){
                            padding: 10px;
                        }
                        padding: 25px;
                        border-radius: 50%;
                    }
                    .text{
                        margin-top: 48px;
                        .title{
                            font-size: 21px;
                            font-weight: map-get($fonts_weights, medium);
                            letter-spacing: -0.085em;
                        }
                        .desc{
                            font-size: 14px;
                            font-weight: map-get($fonts_weights, light);
                            letter-spacing: -0.04em;
                        }
                    }
                }
            }
            .content:nth-child(1){
                @include media-breakpoint-down(lg){
                    margin-top: 100px;
                }
            }
            .content:nth-child(4){
                @include media-breakpoint-down(lg){
                    margin-bottom: 120px;
                }
            }

        }


    }

    .wave-1{
        position: absolute;
        top: -10px;
        right: 0;
        left: 0;
        img{
            width: 100%;
        }
    }
    .wave-2{
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        img{
            width: 100%;
        }
    }
}

.banner{
    position: relative;
    z-index: 30;
    margin-top: -100px;
    .banner-wrapper{
        .banner-wrap{
            background: url('../../img/banner-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 50px;
            padding-bottom: 50px;
            border-radius: 30px;
            .left-content{
                color: white;
                .head{
                    font-size: 39px;
                    letter-spacing: -0.06em;
                    font-weight: map-get($fonts_weights, semiBold);
                    span{
                        color: #E6A06A;
                    }

                    @include media-breakpoint-down(lg){
                        font-size: 25px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 20px;
                    }
                }
                .desc{
                    font-size: 17px;
                    letter-spacing: -0.015em;
                    text-transform: capitalize;
                    font-weight: map-get($fonts_weights, medium);

                    @include media-breakpoint-down(lg){
                        font-size: 12px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 9px;
                    }
                }
            }
            .right-content{
                padding: 6px 30px;
                border-radius: 10px;
                font-size: 19px;
                line-height: 28px;
                letter-spacing: -0.09em;
                font-weight: map-get($fonts_weights, medium);
                @include media-breakpoint-down(lg){
                    font-size: 15px;
                    padding: 6px 20px;
                }
                @include media-breakpoint-down(sm){
                    font-size: 11px;
                }
            }
        }
    }
}

.bestproduct{
    .bestproduct-wrapper{
        margin-bottom: 30px;
        .head{
            border: 1px solid rgb(0, 0, 0);
            font-size: 26px;
            letter-spacing: -0.06em;
            text-transform: capitalize;
            font-weight: map-get($fonts_weights, medium);
            border-radius: 7px;

            // @include media-breakpoint-down(lg){
            //     font-size: 20px;
            // }
            // @include media-breakpoint-down(sm){
            //     font-size: 12px;
            // }
        }
        .product{
            .box{
                border-radius: 16px;
                box-shadow: 5px 4px 17px -2px rgba(0, 0, 0, 0.25);
                .product-img{
                    img{
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        position: relative;
                        z-index: 0;
                        border-radius: 16px;
                    }
                }
                .product-desc{
                    color: black;
                    .title{
                        font-size: 14px;
                        letter-spacing: -0.05em;
                        font-weight: map-get($fonts_weights, regular);
                        @include media-breakpoint-down(sm){
                            font-size: 11px;
                        }
                    }
                    .footer{
                        .price{
                            font-weight: map-get($fonts_weights, semiBold);
                            font-size: 20px;
                            letter-spacing: -0.05em;
                            @include media-breakpoint-down(sm){
                                font-size: 15px;
                            }
                        }
                        .trans{
                            font-weight: map-get($fonts_weights, light);
                            font-size: 12px;
                            letter-spacing: -0.05em;
                            @include media-breakpoint-down(sm){
                                font-size: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact{
    background: url('../../img/contactbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .contact-wrapper{
        .row-1{
            .head{
                margin-top: 270px;
                background-color: white;
                font-size: 26px;
                letter-spacing: -0.06em;
                text-transform: capitalize;
                font-weight: map-get($fonts_weights, medium);
                border-radius: 7px;
                color: black;
            }
        }

        .row-2{
            .input-wrap{
                input{
                    border: none;
                    padding: 9px 24px;
                    border-radius: 16px;
                }
                .name{
                    position: relative;
                    z-index: 2;
                }
                textarea{
                    border: none;
                    padding: 9px 24px;
                    border-radius: 16px; 
                }
            }
            .btn-wrap{
                margin-bottom: 110px;
                .button{
                    background-color: #C74D0D;
                    padding: 12px 0;
                    border: none;
                    color: white;
                    border-radius: 16px;
                    font-size: 20px;
                    letter-spacing: -0.06em;
                    text-transform: capitalize;
                    font-weight: map-get($fonts_weights, semiBold);
                }
            }
        }
    }
    .wave-3{
        position: absolute;
        z-index: 1;
        top: -10px;
        right: 0;
        left: 0;
        img{
            width: 100%;
        }
    }
}

.footer{
    .footer-wrapper{
        .link-wrap{
            .head{
                font-size: 18px;
                letter-spacing: -0.07em;
                text-transform: capitalize;
                font-weight: map-get($fonts_weights, medium);

                @include media-breakpoint-down(lg){
                    font-size: 15px;
                }
            }
            .child{
                font-size: 16px;
                letter-spacing: -0.07em;
                text-transform: capitalize;
                font-weight: map-get($fonts_weights, light);
                
                @include media-breakpoint-down(lg){
                    font-size: 12px;
                }
            }
        }
    }
}