@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar .container .logo {
  border-radius: 10px;
  max-width: 86px;
}
.navbar .container .toggle .ddn i {
  font-size: 22px;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .ddn i {
    font-size: 15px;
  }
}
.navbar .container .toggle .nav-item {
  position: relative;
}
.navbar .container .toggle .nav-item .nav-link {
  font-weight: 300;
  color: rgb(42, 42, 42);
  font-size: 15px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .nav-item .nav-link {
    font-size: 13px;
  }
}
.navbar .container .toggle .left-content .dropdown {
  cursor: pointer;
}
.navbar .container .toggle .left-content .dropdown .select {
  align-items: center;
  transition: background 0.3s;
  gap: 10px;
}
.navbar .container .toggle .left-content .dropdown .select i {
  font-size: 18px;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .left-content .dropdown .select i {
    font-size: 13px;
  }
}
.navbar .container .toggle .left-content .dropdown .select span {
  font-size: 16px;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .left-content .dropdown .select span {
    font-size: 13px;
  }
}
.navbar .container .toggle .left-content .dropdown .caret {
  font-size: 20px;
  transition: 0.3s;
}
.navbar .container .toggle .left-content .dropdown .caret-rotate {
  transform: rotate(180deg);
}
.navbar .container .toggle .left-content .dropdown .menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: whitesmoke;
  border-radius: 0.5em;
  color: black;
  position: absolute;
  top: 3em;
  left: 0;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  cursor: auto;
}
@media (max-width: 991.98px) {
  .navbar .container .toggle .left-content .dropdown .menu {
    width: 450%;
  }
}
.navbar .container .toggle .left-content .dropdown .menu .title {
  font-size: 15px;
}
@media (max-width: 767.98px) {
  .navbar .container .toggle .left-content .dropdown .menu .title {
    font-size: 13px;
  }
}
.navbar .container .toggle .left-content .dropdown .menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
}
.navbar .container .toggle .left-content .dropdown .menu li:hover {
  background-color: white;
}
.navbar .container .toggle .left-content .dropdown .menu-open {
  display: block;
  opacity: 1;
}
.navbar .container .toggle .right-content {
  box-sizing: border-box;
}
.navbar .container .toggle .right-content .input-group .search {
  background-color: #EDEDED;
  border-radius: 17px 0px 0px 17px;
  border: none;
  padding: 6px 0 6px 18px;
  font-size: 13px;
  position: relative;
  z-index: 3;
}
.navbar .container .toggle .right-content .input-group button {
  border-radius: 17px;
}
.navbar .container .toggle .right-content .input-group button i {
  background-color: #EDEDED;
  display: inline-block;
  font-size: 15px;
  padding: 7.26px 18px;
  border-radius: 17px;
}
.navbar .container .toggle .right-content .input-group .search:focus {
  outline: invert;
}
.navbar .container .toggle .right-content .account p {
  font-size: 16px;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .right-content .account p {
    font-size: 13px;
  }
}
.navbar .container .toggle .right-content .account i {
  font-size: 18px;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .right-content .account i {
    font-size: 13px;
  }
}
.navbar .container .toggle .right-content .dropdown {
  cursor: pointer;
}
.navbar .container .toggle .right-content .dropdown .select {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: background 0.3s;
}
.navbar .container .toggle .right-content .dropdown .select i {
  font-size: 18px;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .right-content .dropdown .select i {
    font-size: 13px;
  }
}
.navbar .container .toggle .right-content .dropdown .select span {
  font-size: 16px;
}
@media (max-width: 575.98px) {
  .navbar .container .toggle .right-content .dropdown .select span {
    font-size: 13px;
  }
}
.navbar .container .toggle .right-content .dropdown .caret {
  font-size: 20px;
  transition: 0.3s;
}
.navbar .container .toggle .right-content .dropdown .caret-rotate {
  transform: rotate(180deg);
}
.navbar .container .toggle .right-content .dropdown .menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: whitesmoke;
  border-radius: 0.5em;
  color: black;
  position: absolute;
  top: 3em;
  right: 0;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  width: 700%;
  cursor: auto;
}
@media (max-width: 991.98px) {
  .navbar .container .toggle .right-content .dropdown .menu {
    left: 0;
    right: auto;
  }
}
@media (max-width: 991.98px) {
  .navbar .container .toggle .right-content .dropdown .menu {
    width: 450%;
  }
}
.navbar .container .toggle .right-content .dropdown .menu .title {
  font-size: 15px;
}
@media (max-width: 767.98px) {
  .navbar .container .toggle .right-content .dropdown .menu .title {
    font-size: 13px;
  }
}
.navbar .container .toggle .right-content .dropdown .menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
}
.navbar .container .toggle .right-content .dropdown .menu li .delete-wrap .bx-trash:hover {
  cursor: pointer;
  color: red;
}
.navbar .container .toggle .right-content .dropdown .menu li .delete-wrap .bx-trash {
  font-size: 18px;
}
@media (max-width: 767.98px) {
  .navbar .container .toggle .right-content .dropdown .menu li .delete-wrap .bx-trash {
    font-size: 13px;
  }
}
.navbar .container .toggle .right-content .dropdown .menu li .plus {
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .navbar .container .toggle .right-content .dropdown .menu li .plus {
    font-size: 15px;
  }
}
.navbar .container .toggle .right-content .dropdown .menu li .qty-input {
  text-align: center;
}
.navbar .container .toggle .right-content .dropdown .menu li .minus {
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .navbar .container .toggle .right-content .dropdown .menu li .minus {
    font-size: 15px;
  }
}
.navbar .container .toggle .right-content .dropdown .menu li button {
  border: 1px solid black;
  background-color: white;
  border-radius: 7px;
  font-size: 15px;
  color: black;
}
@media (max-width: 767.98px) {
  .navbar .container .toggle .right-content .dropdown .menu li button {
    font-size: 13px;
  }
}
.navbar .container .toggle .right-content .dropdown .menu li button:hover {
  background-color: black;
  color: white;
}
.navbar .container .toggle .right-content .dropdown .menu li:hover {
  background-color: white;
}
.navbar .container .toggle .right-content .dropdown .menu .menu-wrap {
  max-height: 250px;
  overflow-y: auto;
}
.navbar .container .toggle .right-content .dropdown .menu-open {
  display: block;
  opacity: 1;
}

.head {
  margin-top: 130px;
}
@media (max-width: 991.98px) {
  .head {
    margin-top: 85px;
  }
}
.head .title-wrapper .title {
  font-size: 63px;
  letter-spacing: -0.02em;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .head .title-wrapper .title {
    font-size: 50px;
  }
}
.head .title-wrapper i {
  font-size: 80px;
}
@media (max-width: 991.98px) {
  .head .title-wrapper i {
    font-size: 60px;
  }
}
.head .row-2 {
  margin-top: 30px;
}
.head .row-2 .toggle-wrapper {
  position: relative;
}
.head .row-2 .toggle-wrapper .checkbox {
  width: 100%;
  opacity: 0;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: 0;
}
.head .row-2 .toggle-wrapper .switch {
  cursor: pointer;
  background-color: #B5B5B5;
  display: flex;
  position: relative;
  border-radius: 34px;
  transition: all 0.2s ease-out;
}
.head .row-2 .toggle-wrapper .switch .slider-wrapper {
  position: absolute;
  z-index: 0;
  transition: all 0.5s ease-out;
}
.head .row-2 .toggle-wrapper .switch .slider-wrapper .slider {
  width: 50%;
  height: 54px;
  border-radius: 50px;
  background: #000000;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
  position: relative;
}
@media (max-width: 991.98px) {
  .head .row-2 .toggle-wrapper .switch .slider-wrapper .slider {
    height: 48px;
  }
}
@media (max-width: 767.98px) {
  .head .row-2 .toggle-wrapper .switch .slider-wrapper .slider {
    height: 45px;
  }
}
.head .row-2 .toggle-wrapper .switch .text-wrapper {
  padding: 15px 16px;
}
.head .row-2 .toggle-wrapper .switch .text-wrapper p {
  z-index: 3;
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: -0.02em;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .head .row-2 .toggle-wrapper .switch .text-wrapper p {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .head .row-2 .toggle-wrapper .switch .text-wrapper p {
    font-size: 10px;
  }
}
.head .row-2 .toggle-wrapper .checkbox:checked + .switch .slider {
  margin-left: 50%;
}

.profile {
  margin-top: 70px;
}
.profile .row .name {
  font-size: 16px;
  letter-spacing: -0.07em;
  font-weight: 400;
}
.profile .row input {
  border: none;
  border-bottom: 1px solid black;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: -0.07em;
  color: black;
}
.profile .row-5 .row {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.profile .row-5 .btn-wrapper {
  border-radius: 9px;
  border: 1px solid black;
}
.profile .row-5 .btn-wrapper p {
  font-weight: 500;
  font-size: 16px;
}
.profile .row-5 .btn-wrapper:hover {
  background-color: black;
}
.profile .row-5 .btn-wrapper:hover p {
  color: white;
}

.history {
  margin-top: 40px;
}
.history .history-wrapper .text-wrapper {
  padding: 10px 16px;
  background-color: #D7D7D7;
  border-radius: 10px;
}
.history .history-wrapper .text-wrapper p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.07em;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .history .history-wrapper .text-wrapper p {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  .history .history-wrapper .row-2 .title {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  .history .history-wrapper .row-2 .status {
    font-size: 12px;
  }
}
.history .history-wrapper .row-2 .item {
  background-color: #F0F3F7;
  border-radius: 25px;
}
.history .history-wrapper .row-2 .item .product-wrapper .product .title {
  font-size: 15px;
  letter-spacing: -0.05em;
}
@media (max-width: 991.98px) {
  .history .history-wrapper .row-2 .item .product-wrapper .product .title {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .history .history-wrapper .row-2 .item .product-wrapper .product .title {
    font-size: 10px;
  }
}
.history .history-wrapper .row-2 .item .product-wrapper .product img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
  border-radius: 16px;
}
.history .history-wrapper .row-2 .item .product-wrapper .right-content .btn-1 {
  font-size: 16px;
  letter-spacing: -0.05em;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .history .history-wrapper .row-2 .item .product-wrapper .right-content .btn-1 {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .history .history-wrapper .row-2 .item .product-wrapper .right-content .btn-1 {
    font-size: 8px;
  }
}
.history .history-wrapper .row-2 .item .product-wrapper .right-content .btn-2 {
  font-size: 16px;
  letter-spacing: -0.05em;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .history .history-wrapper .row-2 .item .product-wrapper .right-content .btn-2 {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .history .history-wrapper .row-2 .item .product-wrapper .right-content .btn-2 {
    font-size: 10px;
  }
}
.history .history-wrapper .row-2 .item .product-wrapper .right-content .btn-2:hover {
  background-color: black !important;
  color: white !important;
}

.footer {
  margin-top: 100px;
}
.footer .footer-wrapper .link-wrap .head-wrap {
  font-size: 18px;
  letter-spacing: -0.07em;
  text-transform: capitalize;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .footer .footer-wrapper .link-wrap .head-wrap {
    font-size: 15px;
  }
}
.footer .footer-wrapper .link-wrap .child {
  font-size: 16px;
  letter-spacing: -0.07em;
  text-transform: capitalize;
  font-weight: 300;
}
@media (max-width: 991.98px) {
  .footer .footer-wrapper .link-wrap .child {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */